@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gladiora;
  src: url('static/font/Gladiora Sans Serif Font/gladiora-regular.ttf');
}

::-webkit-scrollbar {
  width: 5px;
  @apply rounded-xl;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-xl bg-quaternary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-secondary bg-opacity-90 transition-colors duration-200 ease-in-out hover:bg-secondary;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
} */
